.send_message_container {
  margin: 12px 0;
  width: 100%;
  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: flex-end;

  span {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #000000;
  }

  .send_message_box {
    padding: 16px;
    background: #5d5fef;
    box-sizing: border-box;
    border-radius: 24px 24px 24px 0px;

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      color: #f6f8fc;
    }
  }
}

@media screen and (max-width: 768px) {
  .send_message_container {
    align-items: flex-end;
    flex-direction: column;

    span {
      margin-top: 4px;
    }
  }
}
