.step_text_box {
  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    color: #132537;
  }

  p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #132537;
  }
}
