.title_subtitle_box {
  p {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #5d5fef;
  }

  h3 {
    font-weight: 700;
    font-size: 48px;
    color: #132537;
    line-height: 120%;
    margin: 10px 0px 0;
  }

  .description_text {
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #132537;
  }
}

@media screen and (max-width: 992px) {
  .title_subtitle_box {
    h3 {
      font-size: 35px;
      line-height: 110%;
    }

    .description_text {
      font-size: 15px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .title_subtitle_box {
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    h3 {
      font-weight: 600;
      font-size: 30px;
      line-height: 38px;
    }
    .description_text {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
